<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create an Elephant</title>
</head>
<body>
    <h1>Create Your Elephant</h1>
    <form action="/elephant" method="post">
        <p> Name: <input type="text" name="name"></p>
        <p> Country of Origin: <input type="text" name="country"></p>
        <p> Color: <input type="text" name="color"></p>
        <p><input type="submit" value="Add"></p>
    </form>
</body>
</html>