<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display</title>
</head>
<body>
    {% for user in users %}
    <h1>User {{user.id}}</h1>
    <p>Full Name: {{user.full_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created At: {{user.created_at}}</p>
    <a href="/users/{{user.id}}/edit">Edit</a> |
    <a href="/users/{{user.id}}/delete">Delete</a>
    {% endfor %}
    
</body>
</html>