<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <style>
    .table{
        border: solid 2px black;
        padding: 10px; 
        margin-bottom: 10px;
    }
    th{
        text-decoration: underline;
    }
    td{
        padding: 5px;
    }
    </style>
</head>
<body style= "padding: 10px">
    <h1>Users</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td><a href="users/{{user.id}}">{{user.full_name}}</a></td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td><a href="users/{{user.id}}">Show</a>
                <a href="users/{{user.id}}/edit">Edit</a>
                <a href="users/{{user.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="users/new">Add a New User</a>
</body>
</html>