<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add User</title>
        <style>
        .error{
            color: red;
            list-style-type: none;
        }
        </style>
    </head>
    <body>
        <h1>Add a new user</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/users/create" method = "post">
            {% csrf_token %}
        <p>Full Name:</p>
        <input type="text" name="full_name" id="">
        <p>Email:</p>
        <input type="email" name="email" id="">
        <p><input type="submit" value="Create"></p>
        <input type="hidden" name="{{user.id}}" id="">
        </form>
        <a href="/users">Go Back</a>
    </body>
</html>