<h1>And the Nominees are...</h1>


<ol>
  <li> 
    <ul>
    <label>BEST MOTION PICTURE – DRAMA</label>
    <li> <a href="">Call Me By Your Name</a> </li>
    <li><a href="">Dunkirk</a></li>
    <li><a href="">The Post</a></li>
    <li><a href="">The Shape of Water</a></li>
    <li><a href="">Three Billboards Outside Ebbing, Missouri</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST PERFORMANCE BY AN ACTRESS IN A MOTION PICTURE – DRAMA</label>
      <li><a href="">Jessica Chastain</a>(Molly's Game)</li>
      <li><a href="">Sally Hawkins</a></li>
      <li><a href="">Frances McDormand</a></li>
      <li><a href="">Meryl Streep</a></li>
      <li><a href="">Michelle Williams</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST PERFORMANCE BY AN ACTOR IN A MOTION PICTURE – DRAMA</label>
      <li><a href="">Timothée Chalamet</a>(Call Me By Your Name)</li>
      <li><a href="">Daniel Day-Lewis</a></li>
      <li><a href="">Tom Hanks</a></li>
      <li><a href="">Gary Oldman</a></li>
      <li><a href="">Denzel Washington</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST MOTION PICTURE – MUSICAL OR COMEDY</label>
      <li><a href="">The Disaster Artist</a></li>
      <li><a href="">Get Out</a></li>
      <li><a href="">The Greatest Showman</a></li>
      <li><a href="">I, Tonya</a></li>
      <li><a href="">Lady Bird</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST PERFORMANCE BY AN ACTRESS IN A MOTION PICTURE – MUSICAL OR COMEDY</label>
      <li><a href="">Judi Dench</a>(Victoria & Abdul)</li>
      <li><a href="">Helen Mirren</a></li>
      <li><a href="">Margot Robbie</a></li>
      <li><a href="">Saoirse Ronan</a></li>
      <li><a href="">Emma Stone</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST PERFORMANCE BY AN ACTOR IN A MOTION PICTURE – MUSICAL OR COMEDY</label>
      <li><a href="">Steve Carell</a>(Battle of the Sexes)</li>
      <li><a href="">Ansel Elgort</a></li>
      <li><a href="">James Franco</a></li>
      <li><a href="">Hugh Jackman</a></li>
      <li><a href="">Daniel Kaluuya</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST MOTION PICTURE – ANIMATED</label>
      <li><a href="">The Boss Baby</a></li>
      <li><a href="">The Breadwinner</a></li>
      <li><a href="">COCO</a></li>
      <li><a href="">Ferdinand</a></li>
      <li><a href="">Loving Vincent</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST MOTION PICTURE – FOREIGN LANGUAGE</label>
      <li><a href="">A Fantastic Woman</a></li>
      <li><a href="">First They Killed My Father</a></li>
      <li><a href="">In the Fade</a></li>
      <li><a href="">Loveless</a></li>
      <li><a href="">The Square</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST PERFORMANCE BY AN ACTRESS IN A SUPPORTING ROLE IN ANY MOTION PICTURE</label>
      <li><a href="">Mary J. Blige</a>(Mudbound)</li>
      <li><a href="">Hong Chau</a></li>
      <li><a href="">Allison Janney</a></li>
      <li><a href="">Laurie Metcalf</a></li>
      <li><a href="">Octavia Spencer</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST PERFORMANCE BY AN ACTOR IN A SUPPORTING ROLE IN ANY MOTION PICTURE</label>
      <li><a href="">Willem Dafoe</a>(The Florida Project)</li>
      <li><a href="">Armie Hammer</a></li>
      <li><a href="">Richard Jenkins</a></li>
      <li><a href="">Christopher Plummer</a></li>
      <li><a href="">Sam Rockwell</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST DIRECTOR – MOTION PICTURE</label>
      <li><a href="">Guillermo del Toro</a>(The Shape of Water)</li>
      <li><a href="">Martin Mcdonagh</a></li>
      <li><a href="">Christopher Nolan</a></li>
      <li><a href="">Ridley Scott</a></li>
      <li><a href="">Steven Spielberg</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST SCREENPLAY – MOTION PICTURE</label>
      <li><a href="">Guillermo del Toro, Vanessa Taylor</a>(The Shape of Water)</li>
      <li><a href="">Greta Gerwig</a></li>
      <li><a href="">Liz Hannah, Josh Singer</a></li>
      <li><a href="">Martin Mcdonagh</a></li>
      <li><a href="">Aaron Sorkin</a></li>
    </ul>
  </li>
  <li>
    <ul>
      <label>BEST SCREENPLAY – MOTION PICTURE</label>
      <li><a href="">Guillermo del Toro, Vanessa Taylor</a>(The Shape of Water)</li>
      <li><a href="">Greta Gerwig</a></li>
      <li><a href="">Liz Hannah, Josh Singer</a></li>
      <li><a href="">Martin Mcdonagh</a></li>
      <li><a href="">Aaron Sorkin</a></li>
    </ul>
  </li>
    


    
</ol>
