<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect();
            var name = window.prompt("What's your name?")
                if (name == null){
                    name = "Nameless"
                }
            console.log(name);
            
            $('button').click(function (){
                var content = {
                    name: name,
                    comment: $('#comment').val(),
                }
                console.log(content)
                socket.emit( "posting_comment", {comment: content});
            });
            socket.on( 'posted_comment', function(data){
                $('#box').append("<p>" + data.response.name + ": " + data.response.comment + "</p>")
            })
        })
       
    </script>
    <style>
    #box{
        height: 200px;
        width: 600px;
        overflow: scroll;
        border: solid 2px black;
    }
    #comment{
        width: 200px;
    }
    </style>
    <title>Chatroom</title>
</head>
<body>
    <h1>Conversation Board</h1>
    <div id="box">
    </div>
    <input type="text" placeholder="Enter your message here" id="comment">
    <button>Send</button>
</body>
</html>