<fieldset>
    <h5>The current time and date:</h5>
</fieldset>

<fieldset>
    <h3>
        <%= @time.strftime("%b %d, %Y") %>
    </h3>
    <h3>
        <%= @time.strftime("%I:%M %p") %>
    </h3>
</fieldset>


