<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
    <ul>
        <form action="survey/process" method = 'post'>
            {%  csrf_token %}
            Your Name: <input type="text" name="name">
            <br>
            Dojo Location: 
            <select name="location">
                <option value="Mountain View">Mountain View</option>
                <option value="Bellevue">Bellevue</option>
                <option value="Burbank">Burbank</option>
            </select>
            <br>
            Favorite Language: 
            <select name="language">
                    <option value="Python">Python</option>
                    <option value="Ruby on Rails">Ruby on Rails</option>
                    <option value="Java">Java</option>
            </select>
            <br>
            Comment (optional): <br><textarea name="comment" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" name="submit">

        </form>
    </ul>
</body>
</html>