<h1>Sign In</h1>
<form action="/users" method="post">
    <p>
        <label>Username:</label>
        <input type="text" name="user[username]" id="user_username">
        <input type="submit" value="Sign In">
    </p>
</form>

