<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <style>
    #red{
        color: red
    }
    </style>
</head>
<body>
    <h1>Please Register</h1>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <h3 id = "red">{{message}}</h3>
            {% endfor %}
        {% endwith %}
    <form action="/process" method = 'post'>
    <p>First Name: <input type="text" name='fname' value=''></p>
    <p> Last Name: <input type="text" name='lname' value=''></p>
    <p>Email: <input type="email" name='email' value=''></p>
    <p>Password: <input type="text" name='password' value=''></p>
    <p>Confirm Password: <input type="text" name='confirm_password' value=''></p>
    <p><input type="submit" value="Submit" ></p>
    </form>
    <p>{{session['fname']}}</p>
    <p>{{session['lname']}}</p>
    <p>{{session['email']}}</p>

    {% with messages = get_flashed_messages(category_filter="success")%}
        {% for message in messages%}
        <form action="/refresh">
            <input type="submit" value="Register Another User" name="refresh">
        </form>
        {% endfor %}
    {% endwith %}
</body>
</html>