<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>  
    <h1>Submitted Info:</h1>
        <h4>Name: <%= data.name %></h4>
        <h4>Location: <%= data.location %></h4>
        <h4>Favorite Language: <%= data.language %></h4>
        <h4>Comment: <%= data.comment %></h4>
    <a href="/">Go Back</a>
    
</body>
</html>