<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>COUNTER</h1>
    <h4><%= count %> times</h4>
    <h4><%= counttwo %> times</h4>
    <form action="/reset" method = 'post'>
        <input type="Submit" name="reset" value="Reset the counters">
    </form>
</body>
</html>