<h1>New Dojo</h1>

<% if flash[:messages] %>
    <% flash[:messages].each do |m| %>
        <p style="color:red; font-weight: bold"><%= m %></p>
    <% end %>
<% end %>

<form action="/dojos" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>
        <label>Branch:</label>
        <input type="text" name="dojo[branch]">
    </p>
    <p>
        <label>Street:</label>
        <input type="text" name="dojo[street]">
    </p>
    <p>
        <label>City:</label>
        <input type="text" name="dojo[city]">
    </p>
    <p>
        <label>State:</label>
        <input type="text" name="dojo[state]">
    </p>
    <input type="submit" name="" value="Create">
    
</form>
<p>
    <%= link_to "Home", root_path %>
</p>