<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sumbit a Quote</title>
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/process" method="post">
        <p>Your name: <input type="text" name="name"></p>
        <p>Your quote: <textarea name="quote" id="" cols="30" rows="10"></textarea></p>
        <input type="submit">
    </form>
    <a href="/quotes">Skip to Quotes</a>
</body>
</html>