<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <% for (let user of users) {%>
        <p>"<%= user.quote %>"</p>
        <h5>--<%= user.name %></h5>
    <% } %>
    <a href="/">Add a Quote</a>
</body>
</html>